body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.university-page {
  margin: 0 auto;
}

.program-card, .university-card, .comments, .details-card {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.gpa-card, .toefl-card, .gre-card {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  .histogram {
    float: left;
  }
}

.comments {
  .accepted, .rejected {
    .item {
      margin-top: 10px;
      width: 90%;
      .author {
        width: 10%;
        float: left;
      }
      .comment {
        width: 90%;
        float: left;
      }
    }
  }
}